.book {
    background: var(--bg-color);var(--bg-btn);    
    padding: 50px 0;    
}

.book__container {
    padding-top: 0;
    padding-bottom: 0;
}

fieldset {
    border: none;
}

.book__halls {
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.book__halls .just-validate-error-label {
    position: absolute;
    top: -30px;
    left: 0;
}

.book__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.book__legend {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
}
.bool__halls-block{
    position: relative;
    width: 250px;
    height: 55px;
}

.book__label-radio {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 7px 15px;
    background: #FFFFFF;
    border-radius: 8px;   
    cursor: pointer; 
    border: 3px solid transparent;
}

.book__label-radio:last-child {
    margin-right: 0;
}

.book__input-radio {
    position: absolute;
}

.book__input-radio:hover ~ .book__label-radio{
    border: 3px solid var(--bg-btn-click-color, #640AA3);
    background: #EADEED;
}

.book__input-radio:focus ~.book__label-radio {    
    border: 3px solid var(--bg-btn-click-color, #640AA3);        
}

.book__input-radio:active ~ .book__label-radio {
    background: #EADEED;
    border: 3px solid transparent;
}
.book__select-game {
    margin-bottom: 67px;
    padding: 0 100px;
}

.book__items {
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px 0;
}

.book__fieldset-flex-column {
    flex-basis: 300px;
    display: flex; 
    flex-direction: column;    
    margin: 0;
}

.book__fieldset-flex-column .book__legend {
    text-align: left;
}

.book__input-round {
    width: 22px;
    height: 25px;
    display: inline-block;
    vertical-align: bottom;
    
}

.book__input-square {
    width: 22px;
    height: 25px;
    display: inline-block;
    vertical-align: bottom;
}

.book__label-select {
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
}

.book__label-select:not(:last-child) {
    margin-bottom: 20px;
}

.book__select-tame {
    margin-bottom: 40px;
    padding: 0 100px;
}

.book__items_select-time {
    gap: 48px; 
}

.book__select-item {
    flex-basis: 254px;
}

.bool__data-time {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.book__naim {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.book__input {
    margin-top: 6px;
    height: 52px;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
    padding: 12px 20px;
}

.book__input-square:focus,
.book__input-round:focus {
    outline: 1px solid var(--border-btn, #CD06FF);
}

.book__data-count {
    padding-top: 16px;
}

.book__naim_count {
    padding-top: 16px;
}

.book__input_data {
    width: 134px;
    padding: 12px 0 12px 5px;
    background-image: url("https://img.icons8.com/ios-filled/50/000000/sort-down.png");
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: right;
}
.book__input_time {
    width: 134px;
    padding: 12px 0 12px 5px;
    background-image: url("https://img.icons8.com/ios-filled/50/000000/sort-down.png");
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: right;
}

.book__btn {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--bg-btn-color, #6C0287);
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 16px 50px;
    display: flex;
    margin-left: auto;
    margin-right: 89px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
    transition: background .5s, color .6s;    
}

.book__btn:hover,
.book__btn:focus {
    background: var(--bg-btn-hover-focus, #840AA3);
    color: #FFFFFF;
} 

.book__btn:active {
    background: var(--bg-btn-click-color, #640AA3);
    color: #FFFFFF;
}

.book__input_activ:focus,
.book__input_activ:active {
    outline: 2px solid var(--border-btn, #CD06FF);
    
}

input[type=date]::-webkit-calendar-picker-indicator {
    font-size: 0;
    /* background-image: url("https://img.icons8.com/ios-filled/50/000000/sort-down.png"); */
} 

input[type=date] {
    background-image: url("https://img.icons8.com/ios-filled/50/000000/sort-down.png");
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: right;
}

input[type=time]::-webkit-calendar-picker-indicator {    
    /* font-size: 0; */
    background-image: url("https://img.icons8.com/ios-filled/50/000000/sort-down.png");
} 

input[type=time] {
    /* background-image: url("https://img.icons8.com/ios-filled/50/000000/sort-down.png");
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: right; */
}

.ui-widget-header {
    background: none;
}

.ui-datepicker .ui-datepicker-prev {
    background-image: url("./img/bi_arrow-right.png");
    background-repeat: no-repeat;
    background-size: 70%;
    transform: rotate(180deg);
    opacity: 1;    
    background-position: center;
}

.ui-datepicker .ui-datepicker-next {
    background-image: url("./img/bi_arrow-right.png");
    background-repeat: no-repeat;
    background-size: 70%;    
    opacity: 1;    
    background-position: center;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active { 
    text-align: center;   
    background: #fff;
    
}

.ui-datepicker-current-day .ui-state-active {    
    background: var(--bg-btn-color);    
}


.ui-timepicker-standard .ui-state-hover {
    background-color: var(--bg-btn-color);
    border: 1px solid var(--bg-btn-color);
    color: #fff;
}

@media (max-width: 1200px) {
    .book {
        
    }
    .book__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
    }    
    .book__legend {       
        margin-bottom: 26px;
    }
    .bool__halls-block {        
        width: 180px;
        height: 44px;
    }
    .book__label-radio {
        font-size: 20px;
        line-height: 24px;
    }
    .book__select-game {
        padding: 0;
    }
    .book__select-tame {
        padding: 0;
    }
}

@media (max-width: 1000px) {
    .book {
        
    }
    .book__halls {
        margin-bottom: 50px;     
    }
    .book__title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
    }
    .book__legend {       
        margin-bottom: 30px;
    } 
    .bool__halls-block {        
        width: 150px;
        height: 38px;
    }
    .book__label-radio {
        font-size: 16px;
        line-height: 20px;
    }   
    .book__select-game {
        margin-bottom: 50px;
    }
    .book__data-count {
        flex-grow: 2;
        width: 100%;        
        display: flex;
        justify-content: space-between;
    }
    .book__naim_count {
        padding-top: 0;
    }
    .book__select-item {
        flex-basis: 280px;
    }
    .bool__data-time {
        width: 280px;     
    }
    .book__naim_count {
        width: 280px;
    }
    .book__btn {
        margin-right: 0;
    }
}

@media (max-width: 670px) {
    .book {
        
    }
    .book {
        padding-top: 30px;
    }
    .book__title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 13px;
    }
    .book__halls {
        flex-wrap: wrap;
        gap: 14px 20px;
        margin-bottom: 30px;
    }
    .book__legend {
        font-size: 14px;
        line-height: 18px;
    }
    .book__legend_select{        
        margin-bottom: 15px;
    }
    .book__label-select{ 
        font-size: 16px;
        line-height: 26px;

    }
    .bool__halls-block {
        width: 130px;
        height: 30px;
    }
    .book__label-radio {
        font-size: 14px;
        line-height: 18px;
        padding: 6px 18px;
    }
    .book__input-round {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
    
    .book__input-square {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
    .book__data-count {
        flex-direction: column;
    }

    .book__btn {
        padding: 17px 59px;
        font-size: 18px;
        line-height: 26px;
    }
}